@import "styles.scss";
.card {
    margin: 10px;
    transition: all 0.3s ease-out;
    &:hover {
        .card__inner {
            transform: scale(1.03);
            background: $primary-gradient-hover;
            box-shadow: 0 1px 30px 0 $light-gray;
        }
    }
    &__inner {
        color: white;
        width: 100%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        height: 400px;
        background: $primary-gradient;
        box-shadow: 0 1px 15px 0 $light-gray;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.3s ease-out;
        padding-bottom: 30px;
        &:after {
            transition: opacity 0.3s ease-in-out;
        }
        .fa {
            width: 100%;
            margin-top: .25em;
        }
        &__image {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 5px 5px 0px 0px;
            height: 325px;
        }
        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
        }
    }
    &.is-collapsed {
        .card__inner {
            &:after {
                content: "";
                opacity: 0;
            }
        }
    }
}

img {}

span {
    display: block;
}
