$light-gray: hsl(222, 20%, 90%);
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$primary: hsl(225, 40%, 33%);
$secondary: hsl(226, 27%, 42%);
$complement: hsl(9, 40%, 33%);
$primary-gradient: linear-gradient(to top left, $primary, lighten($primary, 15%));
$primary-gradient-hover: linear-gradient(to top left, $primary, lighten($primary, 18%));
$secondary-gradient: linear-gradient(to left top, $secondary, lighten($secondary, 15%));


* {
    box-sizing: border-box;
    /* all elements include border and padding in size */
}

body {
    font-family: "Open Sans", sans-serif;
}

// Wrapper for content on screen, adds margin
.wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

h1,
h2,
h3 {
    font-family: "Asap", sans-serif;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.section {
}



.debug-mode {
    border: 2px solid red;
}